.input-number {
  display: inline-block;
  margin: 1px;

  .glyphicon {
    top: -3px;
    padding: 10px;
  }
  
  input {
    width: 50px;
    margin: 0;
    font-size: 20pt;
    border: none;
    text-align: center;
    background: transparent;
  }
}